/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.navbar {
  opacity: 0.7;
}

/* additional sections */
#home {
  background: url(../images/home.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-me-title {
  display:inline;
  padding-bottom: 50px;
  text-align: center;
}

#description {
  color: white;
  background-color: red;
  opacity: 0.5;
  font-family: "Oswald";
  padding: 80px;
}

#projects {
  /*opacity: 0.7;
  background-color: red;
  color: #ffffff;*/
  background: #f06;
  background: linear-gradient(45deg, #f06, yellow);
}

.pic {
  border: 10px solid #fff;
  float: left;
  margin: 20px;
  overflow: hidden;

  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#projects .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#skills {
  background: url(../images/london.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#skills .panel {
  opacity: 0.85;
}

#contact {
  height: 200px;
}

#empty-div {
  background: #f06;
  background: linear-gradient(45deg, #f06, yellow);
  height: 100px;
}

footer {
  padding: 20px 0;
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover {
  color: #306d9f;
}

.center-social-divs {
  display: flex;
  justify-content: space-around;
}

/* ------- social section -------*/

a,a:visited { color: #fff; }
a:hover { color: #fff; }

.social {
  float: left;
  margin: 4em 2em; width: 100px; height: 100px;
  display: block; text-align: center; line-height:103px; color: #fff;

  position: relative;
  transform:rotateY(0deg);
  transition:transform .25s ease-out;
  transform-style:preserve-3d;
}
.social > div {
  width: 100px; height: 100px; background: #000;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.social >.front {
  transform:translateZ(40px);
}
.social >.back {
  background: #3B5998; font-size: 3em;
  transform:rotateY(-100deg) translateZ(40px);
}

.social.social-twitter > .back { background: #55ACEE; }
.social.social-github > .back { background: #f3f3f3; color: #000; }
.social.social-gmail > .back { background: #dd4B39; }
/*.social.social-skype > .back { background: #12A5F4; }*/
.social.social-linkedin > .back { background: #4875B4; }

/* Hover */
.social:hover {
  transform: rotateY(100deg);
}

@media screen and (max-width: 480px) {
  #home {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #skills {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .text-vcenter h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .social {
    float: left;
    margin: 3em 0.3em; width: 100px; height: 100px;
    display: block; text-align: center; line-height:51px; color: #fff;
  }
  .social > div {
    width: 50px; height: 50px;
  }
  .social >.front {
    transform:translateZ(20px);
  }
  .social >.back {
    background: #3B5998; font-size: 1.5em;
    transform:rotateY(-100deg) translateZ(20px);
  }
  h2 {
    font-size: 1.6em;
  }

}
